<div class="main-area center-text" style="background-image:url(images/countdown-3-1600x900.jpg);">
    <div class="display-table">
        <div class="display-table-cell">
            <h1 class="title font-white"><b>Coming Soon</b></h1>
            <p class="desc font-white">My website is currently undergoing an overhall!
                I Should be back shortly. Thank you for your patience.</p>
            <a class="notify-btn" href="#mailgo" data-address="kyle" data-domain="wheeless.dev"><b>Email Me!</b></a>
            <ul class="social-btn font-white">
                <li><a href="/github" target="_blank" rel="noopener noreferrer"><img src="/images/feather/github.svg" alt="" srcset=""></a></li>
                <li><a href="/instagram" target="_blank" rel="noopener noreferrer"><img src="/images/feather/instagram.svg" alt="" srcset=""></a></li>
            </ul>
        </div>
    </div>
</div>