<div class="main-area center-text" style="background-image:url(images/countdown-3-1600x900.jpg);">
    <div class="display-table">
        <div class="display-table-cell">
            <h1 class="title font-white"><b>Coming Soon</b></h1>
            <p class="desc font-white">My website is currently undergoing an overhall!
                I Should be back shortly. Thank you for your patience.</p>
            <a class="notify-btn" href="#"><b>Email Me!</b></a>
            <ul class="social-btn font-white">
                <li><a href="https://github.com/wheeless" rel="noopener noreferrer">github</a></li>
                <li><a href="#">instagram</a></li>
            </ul>
        </div>
    </div>
</div>