<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/jquery.classycountdown.css" />
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/responsive.css" rel="stylesheet">
  <link rel="icon" href="https://blackfoxgaming.net/img/favicon-32x32.png" type="image/x-icon" />
</head>

<body>
  {{{body}}}
  <div id="preload">
    <img src="/images/countdown-3-1600x900.jpg" />
    <img src="/images/feather/instagram.svg" />
    <img src="/images/feather/github.svg" />
    <img src="/images/feather/linkedin.svg" />
    <img src="/images/feather/mail.svg" />
    <img src="/images/wheelessdev.png" />
  </div>
  <script src="https://unpkg.com/mailgo@0.11.3/dist/mailgo.dark.min.js"></script>
  <script src="https://cdn.rawgit.com/adriancooney/console.image/c9e6d4fd/console.image.min.js"></script>
  <script src="javascripts/script.js"></script>
</body>

</html>