<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta name="description" content="I am a web developer based out of Oregon, I am a mentor at Woz-U Education and help drive students to success. *Available for hire*">
  <meta name="keywords" content="HTML, CSS, JavaScript, Developer, Portfolio, Freelance, Angular, React, Express, ExpressJS, Handlebars, feathericons, NodeJS, DevOps">
  <meta name="author" content="Kyle Wheeless">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:400,500" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/jquery.classycountdown.css" />
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/responsive.css" rel="stylesheet">
  <link rel="icon" href="https://blackfoxgaming.net/img/favicon-32x32.png" type="image/x-icon" />
</head>

<body>
  {{{body}}}

  <script src="https://unpkg.com/mailgo@0.11.3/dist/mailgo.dark.min.js"></script>
  <script src="https://cdn.rawgit.com/adriancooney/console.image/c9e6d4fd/console.image.min.js"></script>
  <script src="javascripts/script.js"></script>
</body>

</html>